.player-page {
	width: 100%;
	margin: auto;
  position: absolute;
	top: 65px;  
	bottom: 0;
  .headimg{
    width: 100%;
    height: 40%;
    img{
      padding: 20px;
      width: 100%;
      height: 100%;
    }
  }
  .content{
		height: 60%;
    background-color: #ddd;
  }
  .musicName{
    font-size: 18px;
  }
  .musicName,.author,.lyric{
     padding: 10px 0px 0px 10px;
     font-weight: normal;
  }
  .author{
		font-size: 22px;
    padding-bottom:5px;
  }
}
